<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bob">
    <!-- Robot core -->
    <xacro:property name="box_w" value="0.3" />
    <xacro:property name="box_l" value="0.3" />
    <xacro:property name="box_h" value="0.15" />
    <xacro:property name="wheel_r" value="0.05" />
    <xacro:property name="wheel_l" value="0.04" />

    <!-- Lidar -->
    <xacro:property name="lidar_r" value="0.045" />
    <xacro:property name="lidar_h" value="0.1" />


</robot>
